@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans&display=swap');

.textFont {
  font-family: 'PT Sans', sans-serif;
}

.titleFont {
  font-family: 'Lato', sans-serif;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EC4C8A;
}




